.auth-container {
    background: aliceblue;
    color: var(--primary-color);
    padding: 100px;
    margin: 20px;
    box-shadow: 0 0 4px #0004;
    border-radius: 4px;
}
.auth-right {
    display: flex;
    flex-direction: column;
}
.form-title {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}
.input-wrapper {
    position: relative;
    padding: 2px 4px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border: 1px solid #000;
    height: 35px;
    border-radius: 2px;
    margin: 18px 0;
    width: 80%;
}
.input-wrapper .form-input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}
.input-wrapper label {
    color: var(--normal-color);
    position: absolute;
    left: 0;
    transition: all linear .2s;
    margin: 2px 4px;
}
.input-wrapper .form-input:focus-within ~ label,
.input-wrapper .form-input:valid ~ label {
    transform: translateY(-100%);
    z-index: 1;
    margin: 0;
    font-weight: 600;
}
