/* này là font chữ */
@import url(./font.css);
/* boostrap */
@import url(../../vender/boostrap-5/css/bootstrap.min.css);
/* icons */
@import url(../../vender/icons/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css);
/* này là các biến cho thiết kế */
@import url(./root.css);
/* này là header và footer */
@import url(./partials.css);
/* này là css trang chủ */
@import url(./main-page.css);
/* này là trang tài khoản */
@import url(./auth.css);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "cabin";
}